.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #3e21be;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 220px;
  padding-top: 25px;
  padding-left: 35px;
  background-color: #2e159c;
  border-bottom-right-radius: 100%;
  transform-origin: 0 0;
  transform: scale(0);
  transition: transform 0.3s;
}

.menu--entering {
  transform: scale(1);
}

.menu--entered {
  transform: scale(1);
}

.menu--exiting {
  transform: scale(1);
}

.menu--exited {
  transform: scale(0);
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.menu--entered .menu__list {
  opacity: 1;
  transform: translateX(0);
}

.menu--exiting .menu__list {
  opacity: 0;
  transform: translateX(20px);
}

.menu__item {
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.menu-button {
  margin-left: auto;
  width: 27px;
  height: 27px;
  background-color: transparent;
  padding: 0;
  border: 0;
}
